<h1 class="display-1">Authors</h1>
<% @users.each do |u| %>
<div class="row">
  <div class="row">
    <div class="col-8 mt-4">
      <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header">
          Name: <%= u.username %>
        </div>
        <div class="card-body">
          <%= gravatar_for u, size: 200 %>
          <%= link_to 'View', user_path(u), class: "btn btn-outline-primary" %>
          <% if logged_in? && current_user == u%>
          <%= link_to 'Edit', edit_user_path(u), class: "btn btn-outline-warning" %>
          <%= link_to 'Delete', user_path(u), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small><%= pluralize(u.articles.count, 'article') %></small>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>